*.zip
*.lock
*.log
*.prefs
*.resources
*.tree
*.version
*.index
*.dat
*.history
*.xml
*.txt
*.xmi
*.launch
*.markers
*.class
*.project
*.classpath
*.ini
*.properties
*.js
*.mark
*.setup
*.ser
*.gen
*.cfs
/.metadata/
